html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #2b2b2b;
   /* border-top: solid 10px #000;*/
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

    a:hover {
        background-color: #c7d1d6;
    }

header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }

/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    max-width: 100%;
}

#body {
    background-color: #131313;
    clear: both;
    padding-bottom: 35px;
    height: 100%;
}

    .main-content {
        padding-left: 0px;
        padding-top: 0px;
    }

    .featured + .main-content {
    /*  background: url("../Images/heroAccent.png") no-repeat;*/
    }

header .content-wrapper {
    padding-top: 9px;
}

footer {
    clear: both;
    background-color: #e2e2e2;
    font-size: .8em;
    height: 100px;
}


/* site title
----------------------------------------------------------*/
.site-title {
    color: #eaeaea;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 1.1em;
    background-color: #595b5d;
    padding: 5px;
    margin-top: -5px;
}

.site-title a, .site-title a:hover, .site-title a:active {
    background: none;
    color: #eaeaea;
    outline: none;
    text-decoration: none;
}
ul#menu {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    text-align: right;
    padding: 4px;
}

    ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 15px;
    }

        ul#menu li a {
            background: none;
            color:  #eaeaea;
            text-decoration: none;
        }

        ul#menu li a:hover {
            color: #333;
            text-decoration: none;
        }


/* page elements
----------------------------------------------------------*/
/* featured */
.featured {
    background-color: #fff;
}

    .featured .content-wrapper {
        background-color: rgb(110, 115, 120);
        background-image: -ms-linear-gradient(left,rgb(110, 115, 120) 0%, rgb(170, 171, 174) 100%);
        background-image: -o-linear-gradient(left,rgb(110, 115, 120) 0%, rgb(170, 171, 174) 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgb(110, 115, 120)), color-stop(1, rgb(170, 171, 174)));
        background-image: -webkit-linear-gradient(left, rgb(110, 115, 120) 0%, rgb(170, 171, 174) 100%);
        background-image: linear-gradient(left, rgb(110, 115, 120) 0%, rgb(170, 171, 174) 100%);
        color: rgb(110, 115, 120);
        padding: 7px 10px 1px 20px;
        height: 40px;
    }

        .featured hgroup.title h1, .featured hgroup.title h2 {
            color: #fff;
        }


.reportheader
{
    background-color: rgb(96, 119, 162);
    background-image: -ms-linear-gradient(left,rgb(26, 42, 68)  0%, rgb(130, 150, 193) 100%);
    background-image: -o-linear-gradient(left,rgb(26, 42, 68) 0%, rgb(130, 150, 193) 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgb(26, 42, 68)), color-stop(1, rgb(130, 150, 193)));
    background-image: -webkit-linear-gradient(left, rgb(26, 42, 68) 0%, rgb(130, 150, 193) 100%);
    background-image: linear-gradient(left, rgb(26, 42, 68) 0%, rgb(130, 150, 193) 100%);
    color: #fff;
    padding: 3px 10px 3px 10px;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 1.2em;
    margin-top: 10px;
}
.half_width
{
    width: 47%;
}
.height_full
{
    height: 100%;
}
.width_full
{
    width: 100%;
}
.half_height
{
    height:47%;
}
.half_height-1
{
    height:40%;
}
.triangle_div
{
    margin-left: 15%;
    margin-top: 1%;
}

.weather_div
{
    margin-left: 20%;
    margin-top: -15%;
}
.triangle_canvas {
    top: 0;
    left: 0;
}
.chart_size
{
    height: 26%;
    width: 100%;
}
.tooltip
{
    position:absolute;
    display:none;
    border:1px solid #525457;
    padding:4px;
    background-color:#e2e2e2;
    opacity:.8;
    font-size:1.1em;
    font-weight:bold
}
.legend-w
{
    position: absolute;
    display: none;
   /* width: 100%;
    height: 100%;*/
   /* background: #545659;*/
    border: 2px #e2e2e2;
}
.l-data
{
    margin-top: 20px;
    margin-left: 5px;
    color: #39ff3e;
}
.l-data-1
{
    margin-top: 5px;
    margin-left: 5px;
    color: #39ff3e;
}
.l-text
{
    color: #e2e2e2;
    margin-top: 5px;
    margin-left: 5px;
}
.l-font
{
    font-family: Verdana;
    font-size: 1.0em;
}
.table_header
{
    background-color: rgb(110, 115, 120);
    height: 25px;
    text-align: center;
    font-size: 1.5em;
    padding: 5px 0 10px 0;
    color: #fff;
}
.table_row
{

    background-color: rgb(69, 74, 79);
}
.table_header_cell
{
    text-align: center;
    font-size: 1.2em;
    color: #fff;
    width: 20%;
    background-color: rgb(69, 74, 79);
}
.table_left_cell
{
    padding-left: 10px;
    font-size: 1.5em;
    color: #fff;
    width: 20.5%;
    background-color: rgb(69, 74, 79);
    border: solid 1px #eaeaea;
    height: 35px;
}
.table_cell
{
    text-align: center;
    font-size: 1.5em;
    color: #fff;
    width: 19.5%;
    border: solid 1px #eaeaea;
    background-color: rgb(69, 74, 79);
    height: 35px;
}
.table_error
{
    background: #e28585;
}
.table_norm
{
    background: #54a543;
}

#nmenu
{
    width: 10%;
    background-color: #3c3f41;
}
#ndraw
{
    width: 40%;
}
#nchart
{
    width: 49%;
}
#nstat
{
    width: 88%;
    padding-left: 10px;
}
#npage
{
    background-color: #2b2b2b;
}
.title-left
{
    background-color: #3c3f41;
}
.title-predict
{
    height: 26%;
    background-color: #3c3f41;
    margin: 5px;
}
.title-chart
{
    height: 70%;
}
.nav-item
{
    height: 35px;
    background-color: #2b2b2b;
    padding-left: 20px;
    padding-top: 10px;

}
.nav-item-def
{
    height: 35px;
    background-color: #494b4d;
    padding-left: 20px;
    padding-top: 10px;

}
.nav-item:hover, .nav-item-def:hover
{
    color: #a6dbed;
}
.nav-font
{
    color: #eaeaea;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 1.5em;
    font-weight: bold;
}
.nav-panel
{
    height: 95%;
}
.nav-top
{
    height: 10%;
}

.nav-cursor
{
    cursor: pointer;
}
.char-half
{
    height: 50%;
}
.char-day
{
    margin: 5px;
}
.chart-stage-container
{
    margin: 5px;
}
.chart-stage
{
    width: 32.5%;
    margin: 2px;
}
.chart-backround
{
    background-color: #3c3f41;
}
.chart-stage-center
{
    padding-left: 1px;
    padding-right: 1px;
}
.chart-label
{
    height: 5%;
    background-color: #595b5d;
    text-align: center;
    font-weight: bold;
    color: #eaeaea;
}
.label-sep
{
    height: 20px;
}
.chart-height
{
    height: 95%;
}
#img {
    width: 40%;
    height: 22%;
    border: 2px solid #666d6e;
    margin-left: auto;
    margin-right: auto;
    background-color: #3c3f41;
    box-shadow: 0 0 20px #666d6e;
}
#cam
{
    height: 90%;
    width: 100%;
    background-size: 100%;
}
.cam-label
{
    height: 10%;
    background-color: #595b5d;
    text-align: center;
    color: #eaeaea;
    font-weight: bold;
}
.stat-label
 {
    height: 10%;
    background-color: #595b5d;
    font-weight: bold;
    text-align: center;
    color: #eaeaea;
 }
.stat-row
 {
    height: 12%;
    width: 100%;
 }
.stat-cell-1
{
    width:  25%;
}
.stat-cell-all
{
    width: 15%;
}
.stat-cell-font
{
    color: #eaeaea;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 1.3em;
    text-align: center;
}
.stat-header
{
    height: 20%;
}
.stat-cell-font-l
{
    color: #eaeaea;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 1.3em;
    padding-left: 2%;
}
.stat-color-label
{
    height: 50%;
    width: 12%;
    border: 1px solid #eaeaea;
}
.stat-color-0 {
  background-color: #759ebf
}
.stat-color-1 {
  background-color: #666d6e;
}
.stat-color-2 {
  background-color: #f20855;
}
.stat-color-3 {
  background-color: #ff0f3c;
}
.stat-color-4 {
  background-color: #ef7419;
}
.stat-color-5 {
  background-color: #32ff15;
}
.svg-container
{
    height: 60%;
}

/*Stat form*/
.stat-label-form
 {
    height: 10%;
    background-color: #595b5d;
    font-weight: bold;
    text-align: center;
    color: #eaeaea;

 }
.stat-label-font-form
{
   font-size: 1.2em;
}
.stat-row-form
 {
    height: 12%;
    width: 100%;
 }
.stat-cell-1-form
{
    width:  25%;
}
.stat-cell-all-form
{
    width: 15%;
}
.stat-cell-font-form
{
    color: #eaeaea;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 1.5em;
    text-align: center;
    padding-top: 0.4%;
}
.stat-header-form
{
    height: 20%;
}
.stat-cell-font-l-form
{
    color: #eaeaea;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 1.5em;
    padding-left: 2%;

}
.stat-color-label-form
{
    height: 50%;
    width: 5%;
    border: 1px solid #eaeaea;
    margin-left: 3%;
    margin-right: 4%;
}
.stat-color-form-0 {
  background-color: #759ebf
}
.stat-color-form-1 {
  background-color: #666d6e;
}
.stat-color-form-2 {
  background-color: #f20855;
}
.stat-color-form-3 {
  background-color: #ff0f3c;
}
.stat-color-form-4 {
  background-color: #ef7419;
}
.stat-color-form-5 {
  background-color: #32ff15;
}

.stat-toolbox-date-form {
    background-color: #595b5d;
    border: none;
    width: 160px;
    color: #f5f5f5;
    margin-left: 10px;
    outline: none;
    padding-top: 4%;
}
.stat-toolbox-header-form
{
    height: 40px;
    background-color: #595b5d;
    font-weight: bold;
    text-align: center;
    color: #eaeaea;
    margin-left: 5px;
}
.stat-chart-label-form
{
    height: 7%;
    background-color: #595b5d;
    text-align: center;
    font-weight: bold;
    color: #eaeaea;
}
.stat-chart-half-form
{
    height: 49%;
}
.stat-chart-stage-form
{
    width: 32.9%;
    margin: 2.7px;
}
.stat-toolbox-stub-form
{
    width: 10%;
}
.stat-toolbox-calendar-button-form
{
    width: 32px;
    height: 32px;
    border: #595b5d solid 2px;
    background: url("../images/calendar.png") no-repeat;

}
.stat-toolbox-update-button-form
{
    margin-left: 1%;
    width: 32px;
    height: 32px;
    border: #595b5d solid 2px;
    background: url("../images/update.png") no-repeat;

}
.stat-toolbox-update-button-form:hover, .stat-toolbox-calendar-button-form:hover
{
    border: #a6dbed solid 2px;
}
.stat-toolbox-margin-form
{
    margin-left: 2%;
}

.stat-error-color {
  color: #f20855;
}

.tool_wait {
    background: url("../images/wait.gif") no-repeat;
    display: none;
    text-align: center;
    vertical-align: middle;
    width: 250px;
    height: 100px;
    position:absolute;
    top:70%;
    left:50%;
    margin-top:-185px;
    margin-left: -55px;
    z-index: 300;
}

#preview {
  position: absolute;
  border: 4px solid #eaeaea;
  background: #333;
  padding: 5px;
  display: none;
  color: #eaeaea;
}
.prot-toolbox-header-form
{
    height: 45px;
    background-color: #595b5d;
    font-weight: bold;
    text-align: center;
    color: #eaeaea;
    margin-left: 5px;
}
.prot-cell-font-form {
    color: #eaeaea;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 1.2em;
    text-align: center;
    padding-top: 0.4%;
    width: 9%;
}
.prot-row-form
{
    height: 45px;
    background-color: #3c3f41;
    font-weight: bold;
    text-align: center;
    color: #eaeaea;
    margin-left: 5px;
    cursor: default;
    border-top: #eaeaea solid 1px;
}
.prot-row-form:hover
{
    background-color: #adb0b5;
    color: #2b2b2b;
}
.prot-row-font-form {
   /* color: #eaeaea;*/
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 1.0em;
    text-align: center;
    padding-top: 0.4%;
    width: 9%;
}
.prot-row-img-form
{
    height: auto;
    width: auto;
    max-width: 35px;
    max-height: 35px;
}

.prot-naw-font-form {
   /* color: #eaeaea;*/
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 1.6em;
    text-align: center;
    margin-top: 6px;
    width: 10%;
    border: #adb0b5 solid 1px;
    margin-right: 24px;
    cursor: default;
    height: 22px;
    padding-top: 4px;
    padding-bottom: 6px;
}
.prot-naw-font-form:hover
{
    border: #a6dbed solid 1px;
    color: #a6dbed;
}
.tend-chart-half-form
{
    height: 70%;
}
.trend-chart-height {
    height: 90%;
}